# docker-compose.yml
version: "3.9"
services:
  db:
    image: postgres:15
    container_name: cookie_itchy_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cookie_itchy
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
